PORT=5000
NODE_ENV=development
# MongoDB Atlas Cloud URI Example (replace <db_password> with your actual MongoDB user password):
# MONGO_URI=mongodb+srv://Kanchan:<db_password>@cluster0.9gfmqa2.mongodb.net/jeevan?retryWrites=true&w=majority
MONGO_URI=mongodb://127.0.0.1:27017/jeevan
JWT_SECRET=jeevan_secret_key_123

# MSG91 SMS OTP Configuration
MSG91_AUTH_KEY=
MSG91_TEMPLATE_ID=
